.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid #5D6468;
    background-color: #181A1B;
    transition-property: filter, rotate, scale, background-color;
    transition-duration: 1s;
    max-width: 95%;
    /* border: 10px solid green; */
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-box {
    aspect-ratio: 1/1;
    width: 30px;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid white; */
}

@media (max-width: 450px) {
    .grid-box {
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 10px;
    }
}

.grid-box.food {
    background-color: orange;
}

.grid-box.snake {
    background-color: springgreen;
    /* margin: 1px; */
}

.grid-box.mine {
    background-color: grey;
}

.blur {
    filter: blur(20px);
    scale: 3;
    background-color: black;
}